@import "tailwindcss";

@theme {
  --color-background: #2346B7;
  --color-accent: #CCFF05;
  --color-primary: #43A7F5;
  --color-highlight: #9747FF;
  --color-text: #FFFFFF;
  --color-background-white: #F5F5F5;


  --color-primary-hover:#5A4BC9;

  --font-sans: "Poppins", sans-serif;

  --breakpoint-3xl: 112.5rem;

}

@layer components {
  .page-container {
    @apply max-w-7xl mx-auto px-6;
  }

  .btn-style {
    @apply bg-primary px-4 py-1.5 rounded-lg hover:bg-primary-hover cursor-pointer
  }

  

}